<div class="ros-widget" data-widget-name="navigator" data-min-height="34" data-min-width="66" data-max-height="1200"
	data-max-width="1600" data-height="550" data-width="400">

	<!-- The content which could be manipulated by widget class -->
	<div class="header">
		<p class="name">Navigator</p>
	</div>

	<div id="nav"/>

	<div class="debugger">
		<p id="x">X-Coord:</p>
		<p id="y">Y-Coord:</p>
	</div>

	<div class="debugger">
		<p id="x-change">X-change:</p>
		<p id="y-change">Y-change:</p>
	</div>

	<div class="multiplier" id="mul1">
		<div class="x-change sliders">
			<p>X-Change</p>
			<input id="x-slider" type="range" min="10" max="200" step="5" value="10"/>
		</div>
		<div class="y-change sliders">
			<p>Y-Change</p>
			<input id="y-slider" type="range" min="10" max="200" step="5" value="10"/>
		</div>
		<div class="zoom sliders">
			<p>Zoom</p>
			<input id="zoom-slider" type="range" min="1.1" max="2.0" step="0.1" value="1.1"/>
		</div>
	</div>
	<div class="multiplier" id="mul2">
		<div class="pose sliders">
			<p>Pose Scale</p>
			<input id="pose-slider" type="range" min="1" max="10" step="1" value="10"/>
			<button class="setter">Set</button>
		</div>
	</div>
</div>