div[data-widget-name='navigator'] {
  float: left;
  height: 100%;
  width: 100%;
  border: 1px solid #333;
  div.header {
    background-color: #aac;
    border-bottom: 1px solid #333;
    p {
      text-align: center;
      padding: 0 10px;
    }
    p.name {
      font-weight: bold;
    }
    p.type {
      font-style: italic;
    }
  }
  div#nav{
      border-color: black;
      border-width: 1px;
      width: 350px;
      height: 350px;
  }

  div.debugger{
      display: inline-block;
      width: 150px;
  }
  
  div.sliders{
      margin-top: 10px;
      display: inline-block;
  }
}