<div class="ros-widget" 
data-widget-name="teleops" 
data-min-height="34" data-min-width="66" 
data-max-height="1200"	data-max-width="1600" 
data-height="240"	data-width="280">

	<!--  META Tags to describe topics subscription have been removed, not necessary -->

	<!-- The content which could be manipulated by widget class -->

	<div class="container">
		<div class="row" id="row1">
			<div class="left box" id="Q">
				Q
			</div>
			<div class="centre box" id="W">
				W
			</div>
			<div class="right box" id="E">
				E
			</div>
		</div>

		<div class="row" id="row2">
			<div class="left box" id="A">
				A
			</div>
			<div class="centre box" id="S">
				S
			</div>
			<div class="right box"	id="D">
				D
			</div>
		</div>
	</div>
	
	<div class="container">
		<div class="form">
			<form>
				Speed Multiplier:
				<input type="number" name="speedMul" min="0" max="10">
				<button type="button" class="jsSpeed">Set Speed</button>
			</form>

			<div class="formContainer">
				<button type="button" class="jsTeleops">Toggle Tracking</button>
				<div class="indicator">
					<span>Status</span>
				</div>
			</div>
		</div>	
  	</div>
</div>