.cssWidgetContainer[data-widget-conf='0'] {
  div[data-widget-name='teleops'] {
    border: 1px solid #333;
  }
}

div[data-widget-name='teleops'] {
  float: left;
  height: 100%;
  width: 100%;
  overflow: hidden;
  
  div.container{
    margin-left: 10px;
    margin-top: 10px;

  }

  div.row{
    width:200px;
    height:60px;
    margin-bottom: 4px;
  }

  div.box{
    border: 1px solid #000;
    vertical-align: middle;
    text-align: center;
    height: 60px;
    width: 60px;
    display:inline-block;
  }

  div.header {
    background-color: #aee;
    border-bottom: 1px solid #333;
    p {
      text-align: center;
      padding: 0 10px;
    }
    p.name {
      font-weight: bold;
    }
    p.type {
      font-style: italic;
    }
  }
  div.form {
    padding: 10px;
    input {
      margin-left: 3px;
      height: 18px;
      max-width: 150px;
    }
  }

  div.formContainer {
    margin-top: 12px;
  }

  .indicator {
      display: inline-block;
      margin-left: 10px;
  }

  .jsSpeed {
      margin-left: 4px
  }

  input[type="number"]{
    width:50px;
  }
}